<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.book.mapper.IBookImageMapper">

    <insert id="addImages">
        insert into t_book_image (imagePath,bookId) values
        <foreach collection="list" item="x" separator=",">
            (#{x.imagePath},#{x.bookId})
        </foreach>
    </insert>


</mapper>